.layout-frontend .wrapper
	& > header,
	& > .content-wrapper
		max-width: $meetMaxWidth
		margin: auto
		padding: 20px 40px
		background-color: transparent

	& > header
		padding-bottom: 0px
	& > .content-wrapper
		padding-top: 0px



	& > footer
		background-color: $primary
		text-align: center
		font-weight: bold
		line-height: 2rem
		p, a
			color: $white
			margin-bottom: 0


