// Your variable overrides

// Bootstrap and its default variables
//@import "~bootstrap"

// Bootstrap
// ---------------------------------------------------
@import '~bootstrap/scss/functions'
@import 'variables'
@import '~admin-lte/build/scss/bootstrap-variables'
@import '~bootstrap/scss/bootstrap'
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css'

// Variables and Mixins
// ---------------------------------------------------
@import '~admin-lte/build/scss/variables'
@import '~admin-lte/build/scss/variables-alt'
@import '~admin-lte/build/scss/mixins'

@import '~admin-lte/build/scss/parts/core'
@import '~admin-lte/build/scss/parts/components'
@import '~admin-lte/build/scss/parts/extra-components'
@import '~admin-lte/build/scss/parts/pages'
@import '~admin-lte/build/scss/parts/plugins'
@import '~admin-lte/build/scss/parts/miscellaneous'

@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.css'
@import '~admin-lte/plugins/select2/css/select2.min.css'

@import "./ckeditor/styles.css"

@import "~@fortawesome/fontawesome-free/scss/solid.scss"
@import "~@fortawesome/fontawesome-free/scss/regular.scss"
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss"
//@import "~admin-lte/dist/css/adminlte.css"

@import "variables"

.btn-primary
	color: $white

table.dataTable
	td:last-child a
		font-size: 18px
		margin: 0px 5px



aside.main-sidebar .sidebar
	background-color: transparent

