// Your variable overrides

// Bootstrap and its default variables
@import "~bootstrap"

div.question.onlyCustomInput
	.options .btn-group
		display: none

.questionCategory
	.instanceName
		display: none

	&.hasInstances
		.instanceName
			display: block