@import "variables"

@page
	size: A4
	margin: 0

body
	font-family: $font-family-sans-serif
	margin: 40pt 80pt

table.header
	margin: 0
	width: 100%
	td.logo
		width: 40%
		img
			width: 100%
	td.quote
		width: 60%
		padding-left: 10pt
		padding-right: 50pt
		font-size: 9pt
		line-height: 13pt

h1
	font-size: 20pt
	line-height: 28pt
	font-weight: normal
	text-align: center
	margin: 30pt 0pt 10pt

h2
	font-size: 10pt
	line-height: 14pt
	text-align: center
	font-weight: normal
	margin: 0px

div.content
	*
		font-size: 12pt
		line-height: 14pt


table.signs
	width: 100%
	margin-top: 80pt
	td
		text-align: center
	.signBlock
		display: inline-block
		width: 200pt
		font-size: 12pt
		line-height: 15pt
		text-align: center
		span.dots
			border-bottom: 1px dotted $gray-800
			display: block
			width: 100%
			margin-bottom: 5pt
		span.name
			font-style: italic


